@import "tailwindcss";

@font-face {
  font-family: BricolageGrotesque;
  src: url("./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: DMSans;
  font-style: normal;
  src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: DMSansItalic;
  font-style: italic;
  src: url("./assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
}

@theme {
  --breakpoint-lg: 75rem;

  --font-primary: "BricolageGrotesque", sans-serif;
  --font-secondary: "DMSans", sans-serif;
  --font-secondary-italic: "DMSansItalic", sans-serif;

  --color-neutral-900: #02012c;
  --color-neutral-800: #262540;
  --color-neutral-700: #302f4a;
  --color-neutral-600: #3c3b5e;
  --color-neutral-300: #acacb7;
  --color-neutral-200: #d4d3d9;
  --color-orange-500: #ff820a;
  --color-blue-500: #4658d9;
  --color-blue-700: #2b1b9c;

  --animate-spin-x: spinX 1.5s linear infinite;

  @keyframes spinX {
    0% {
      transform: rotateX(0deg);
    }
    100% {
      transform: rotateX(360deg);
    }
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgb(48, 47, 74);
    border-radius: 12px;
    border: 1px solid rgb(60, 59, 94);
    background-clip: content-box;
  }

  /* For Firefox */
  /* .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #777 transparent;
  } */
}

@utility text-preset-1 {
  font-size: 6rem;
  line-height: 100%;
  letter-spacing: -2px;
  font-family: var(--font-secondary-italic);
  font-weight: 600;

  @variants responsive;
}

@utility text-preset-2 {
  font-size: 3.25rem;
  line-height: 120%;
  letter-spacing: 0px;
  font-family: var(--font-primary);
  font-weight: 700;

  @variants responsive;
}

@utility text-preset-3 {
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0px;
  font-family: var(--font-secondary);
  font-weight: 300;

  @variants responsive;
}

@utility text-preset-4 {
  font-size: 1.75rem;
  line-height: 120%;
  letter-spacing: 0px;
  font-family: var(--font-secondary);
  font-weight: 700;

  @variants responsive;
}

@utility text-preset-5 {
  font-size: 1.25rem;
  line-height: 120%;
  letter-spacing: 0px;
  font-family: var(--font-secondary);
  font-weight: 600;

  @variants responsive;
}

@utility text-preset-5-medium {
  font-size: 1.25rem;
  line-height: 120%;
  letter-spacing: 0px;
  font-family: var(--font-secondary);
  font-weight: 500;

  @variants responsive;
}

@utility text-preset-6 {
  font-size: 1.125rem;
  line-height: 120%;
  letter-spacing: 0px;
  font-family: var(--font-secondary);
  font-weight: 500;

  @variants responsive;
}

@utility text-preset-7 {
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: 0px;
  font-family: var(--font-secondary);
  font-weight: 500;

  @variants responsive;
}

@utility text-preset-8 {
  font-size: 0.875rem;
  line-height: 120%;
  letter-spacing: 0px;
  font-family: var(--font-secondary);
  font-weight: 500;

  @variants responsive;
}
